.DS_Store
.vscode/
*.log

app_frontend/node_modules/
app_frontend/.next/
app_frontend/.env*
app_frontend/out/

product_service/__pycache__/
product_service/*.pyc
product_service/.env
product_service/.venv/
product_service/db.sqlite3

user_service/__pycache__/
user_service/*.pyc
user_service/.env
user_service/.venv/
user_service/db.sqlite3

*.pid
*.sock